In [1]:
import pandas as pd
df=pd.read_csv('regions.txt')
df

    Person Region
0     Alex  North
1  Barbara  South
2     Cody  North
3      Dan   West
4      Eli  South

In [2]:
df.to_csv('regions.csv', index=False)
df

    Person Region
0     Alex  North
1  Barbara  South
2     Cody  North
3      Dan   West
4      Eli  South

In [10]:
df=pd.read_csv('regions.csv')
df.groupby(['Region']).count()

        Person
Region
North        2
South        2
West         1

In [14]:
df=pd.read_csv('regions.csv')
df.groupby(['Region']).size()

Region
North    2
South    2
West     1
dtype: int64

In [18]:
df1=pd.read_csv('sales_data.csv')
df1

     Index   Height(Inches)"   "Weight(Pounds)"
0        1             65.78             112.99
1        2             71.52             136.49
2        3             69.40             153.03
3        4             68.22             142.34
4        5             67.79             144.30
..     ...               ...                ...
195    196             65.80             120.84
196    197             66.11             115.78
197    198             68.24             128.30
198    199             68.02             127.47
199    200             71.39             127.88

[200 rows x 3 columns]

In [19]:
df2=pd.read_csv('regions.csv')
df2

    Person Region
0     Alex  North
1  Barbara  South
2     Cody  North
3      Dan   West
4      Eli  South

In [11]:
import pandas as pd
df=pd.read_csv('sales_data.csv')
df.groupby('Index').agg({'Height':'mean','Weight':'max'})

KeyError: "Column(s) ['Height', 'Weight'] do not exist"